<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Banking Experiment 1.0{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{STATIC_URL}}jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.css" />
        <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
        <script src="{{STATIC_URL}}jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js"></script>
        <script type="text/javascript">
            {# used by NTP.js #}
            var gettime_url = "{% url 'banking:gettime' %}";

            {# used by timer.js: updateTimer() #}
            var timer_expiration = {{ state.timer_expiration|default:0 }};
            var timer_expiration_url = "{% url 'banking:timer_expiration' experiment_id=experiment.id %}";
            var round_number = {{ state.round_number|default:1 }};
            var period_number = {{ state.period_number|default:1 }};
            var num_rounds = {{ num_rounds|default:0 }};
        </script>
        <script type="text/javascript" src="{{STATIC_URL}}js/NTP.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/timer.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
