{% extends "banking/base.html" %}

{% load admin_urls %}

{% block extrahead %}
    <style type="text/css">
        .ui-block-a .grid-cell, .ui-block-b .grid-cell {
            margin-right: 1em;
        }
    </style>
{% endblock %}

{% block body %}

<div id="page" data-role="page">

    <div data-role="header">
        Banking Experiment 1.0 - Edit Parameters
    </div>

    <div data-role="content">

        <form id="parameters_form" method="post" action="" data-ajax="false">
            {{ formset.management_form }}
    
            {% for form in formset %}
                {{ form.id }}
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <div class="grid-cell">
                            <h2>Round {{form.instance.round_number|default:''}}</h2>
                            <label>
                                Delete
                                {{ form.DELETE }}
                            </label>
                            <fieldset data-role="controlgroup">
                                <label>Practice {{form.practice }}</label>
                                <label>Hedging {{form.hedging }}</label>
                                <label>Complementarity {{form.complementarity }}</label>
                            </fieldset>
                            <table>
                                <tr><td>Impatient withdrawals</td><td>{{form.impatient_withdrawals }}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="grid-cell">
                            <h3>Time Limits</h3>
                            <table>
                                <tr><td>Period 1 deposit</td><td>{{form.period_1_deposit_time_limit}}</td></tr>
                                <tr><td>Period 1 lending</td><td>{{form.period_1_lending_time_limit}}</td></tr>
                                <tr><td>Period 2</td><td>{{form.period_2_time_limit}}</td></tr>
                                <tr><td>Period 3</td><td>{{form.period_3_time_limit}}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div class="grid-cell">
                            <h3>Rates</h3>
                            <table>
                                <tr><td>Deposit interest</td><td>{{form.deposit_interest_rate}}</td></tr>
                                <tr><td>Loan interest</td><td>{{form.loan_interest_rate}}</td></tr>
                                <tr><td>Bank interest</td><td>{{form.bank_interest_rate}}</td></tr>
                                <tr><td>Loan price</td><td>{{form.loan_price}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr/>
            {% endfor %}


            {% comment %}
            <table>
                {% for form in formset %}

                    {% if forloop.first %}
                        <thead>
                            <tr>
                                <th>Round</th>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}

                    <tr>
                        {{ form.id }}
                        <td>{{form.instance.round_number|default:''}}</td>
                        {% for field in form.visible_fields %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% endcomment %}




            <div class="ui-grid-b">
                <span class="ui-block-a">
                    <a data-role="button" href="{% url 'banking:experimenter' experiment_id=experiment.id %}">Cancel</a>
                </span>
                <span class="ui-block-b">
                    <input type="submit" value="Save" data-theme="b"/>
                </span>
                <span class="ui-block-c">
                    <input type="submit" name="add_round" value="Save and Add Round" data-theme="b"/>
                </span>
            </div>
        </form>

    </div>
</div>

{% endblock %}
