{% extends "banking/base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/experimenter.css?v=2"/>
<script type="text/javascript" src="{{STATIC_URL}}js/experimenter.js?v=2"></script>
{% endblock %}

{% block body %}

<div id="page" data-role="page">

    <div data-role="header">
        Banking Experiment 1.0 Experimenter Interface
    </div>

    <div data-role="content">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table id="visibility-table">
            <tbody>
                <tr>
                    <th>Visibility:</th>
                    <td>
                        {% if experiment.is_visible %}
                            Visible
                        {% else %}
                            Hidden
                        {% endif %}
                    </td>
                    <th>Authentication Code:</th>
                    <td>
                        {% if experiment.authentication_code %}
                            {{ experiment.authentication_code }}
                        {% else %}
                            <i>none</i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" id="visibility-change-link">Change</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <form id="visibility-form" style="display: none" data-ajax="false" action="set_visibility" method="post">
            <table>
                <tbody>
                    <tr>
                        <th>Visibility:</th>
                        <td>
                            <fieldset data-role="controlgroup" data-type="horizontal">
                                <label>
                                    Hidden
                                    <input type="radio" name="is_visible" value="0"
                                    {% if not experiment.is_visible %} checked="checked" {% endif %} />
                                </label>
                                <label>
                                    Visible
                                    <input type="radio" name="is_visible" value="1"
                                    {% if experiment.is_visible %} checked="checked" {% endif %} />
                                </label>
                            </fieldset>
                        </td>
                        <th>Authentication Code:</th>
                        <td>
                            <input type="text" name="authentication_code" value="{{experiment.authentication_code}}" placeholder="Anyone can join"/>
                        </td>
                        <td>
                            <a data-role="button" id="visibility-cancel-button" data-inline="true" data-icon="delete">Cancel</a>
                            <input type="submit" data-inline="true" data-theme="b" data-icon="check" value="Save"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        <h1>Experiment Status</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Group Size</th>
                    <th>Round</th>
                    <th>Period</th>
                    <th>Time Remaining</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{experiment.id}}</td>
                    <td>{{experiment.experiment_configuration.max_group_size}}</td>
                    {% if state %}
                    <td>{{state.round_number}}</td>
                    <td>{{state.period_display_number}}</td>
                    <td class="timer"></td>
                    {% else %}
                    <td colspan="3">The experiment has not started yet.</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <form id="advance_form" method="post" action="advance" data-ajax="false" class="ui-grid-a">
            {% csrf_token %}
            <div class="ui-block-a">
                <input type="submit" id="advance_button" value="Advance to Next Period"/>
            </div>
            <div class="ui-block-b">
                <label for="auto_advance">Auto-advance</label>
                {% if request.session.auto_advance %}
                    <input type="checkbox" id="auto_advance" name="auto_advance" checked="checked"/>
                {% else %}
                    <input type="checkbox" id="auto_advance" name="auto_advance"/>
                {% endif %}
            </div>
        </form>
        <form id="reset-experiment-form" method="post" action="reset" data-ajax="false">
            {% csrf_token %}
            <input type="submit" value="Reset Experiment">
        </form>

        <h1>Participant Status</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Bank</th>
                    <th>Region</th>
                    <th>Deposit Decision</th>
                    <th>Lending Decision</th>
                    <th>Total Earnings</th>
                    <th></th> {# Remove button #}
                </tr>
            </thead>
            <tbody>
                {% for row in participant_status_table %}
                <tr>
                    <td>{{row.participant.id}}
                        <span style="display: none" class="participant_str">{{row.participant}}</span>
                    </td>
                    <td>{{row.participant.full_name}}</td>
                    <td>{{row.participant.email}}</td>
                    <td>{{row.group_number}}</td>
                    <td>{{row.bank_number}}</td>
                    <td>{{row.region_number}}</td>
                    <td>{{row.depositDecision}}</td>
                    <td>{{row.lendingDecision}}</td>
                    <td>{{row.earnings}}</td>
                    <td>
                        <form method="post" action="remove-participant" data-ajax="false">
                            <input type="hidden" name="participant_id" value="{{row.participant.id}}"/>
                            <input type="submit" value="Remove" data-mini="true" data-icon="delete"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post" action="allocate-groups" data-ajax="false">
            <input type="submit" value="Allocate Groups"/>
        </form>

        <h1>Round Parameters</h1>

        <a data-role="button" data-ajax="false" href="{% url 'banking:configure' experiment.id %}">Edit Parameters</a>

        <h2><a data-ajax="false" href="{% url 'banking:download_data' experiment_id=experiment.id %}">Download Data</a></h2>

        <h2>Email Data</h2>
        <form method="post" action="{% url 'banking:email_data' experiment_id=experiment.id %}" data-ajax="false">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <input type="text" name="recipient" value="{{request.user.email}}"/>
                </div>
                <div class="ui-block-b">
                    <input type="submit" value="Send"/>
                </div>
            </div>
        </form>

    </div> <!-- /content -->

</div>

{% endblock %}

