{% extends "experimenter/base.html" %}

{% block title %} Testexp Experimenter Interface {% endblock %}

{% block content %}
<h3>Manage your experiments</h3>
<p>
<ul>
{% for experiment in experiments %}
    <li class='experiment'><a href='{{ experiment.management_url }}'>{{ experiment }}</a></li>
{% endfor %}
</ul>

</p>


{% endblock content %}
