{% extends "banking/base.html" %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/participate.css"/>
{% endblock %}

{% block body %}

    <div id="page" data-role="page">

        <div data-role="header">
            <div class="ui-grid-b justified">

                <div class="ui-block-a">Bank {{bank_number|default_if_none:''}}</div>
                <div class="ui-block-b">Round {{state.round_number}}</div>
                <div class="ui-block-c">${{earnings}}</div>

                <div class="ui-block-a">Region {{region_number|default_if_none:''}}</div>
                <div class="ui-block-b">Period {{state.period_number}}</div>
                <div class="ui-block-c">
                    <span class="timer"></span>
                </div>

            </div>
        </div>

        <div data-role="content">

            {% for p in period_data %}

                <div 
                    {% if p.period_number == state.period_number %}
                        class="current period-container"
                    {% else %}
                        class="past period-container"
                    {% endif %}
                    >

                    <div class="ui-grid-a justified">
                        <div class="ui-block-a">
                            <h2>Period {{p.period_number}}</h2>
                        </div>
                        <div class="ui-block-b">
                            {% if p.period_number == state.period_number %}
                                <h2 class="timer"></h2>
                            {% else %}
                                <h2>0:00</h2>
                            {% endif %}
                        </div>
                    </div>

                    <table class="period-info">

                        {% if p.period_number == 1 %}
                            <tr><td>Customers Deposited</td><td>{{p.deposits}}</td></tr>
                            {% if params.hedging %}
                                <tr><td>Bank {{p.depositor_number}} Deposited</td><td>{{p.depositFromOtherBank}}</td></tr>
                                <tr><td>You Deposited With Bank {{p.depositee_number}}</td><td>{{p.depositDecision|default_if_none:'0.00'}}</td></tr>
                            {% endif %}
                            <tr><td>You Made Loans of</td><td>{{p.lendingDecision|default_if_none:'0.00'}}</td></tr>

                        {% elif p.period_number == 2 %}
                            <tr><td>Customers Withdrew</td><td>{{p.withdrawals}}</td></tr>
                            {% if params.hedging %}
                                <tr><td>Bank {{pd.depositor_number}} Recalled</td><td>{{p.recalledByOtherBank}}</td></tr>
                            {% endif %}
                            <tr class="total"><td>Total Owed</td><td>{{p.totalOwed}}</td></tr>
                            <tr><td>Paid from Cash</td><td>{{p.paidFromCash}}</td></tr>
                            {% if params.hedging %}
                                <tr><td>Paid from Recalled Funds</td><td>{{p.paidFromRecalledFunds}}</td></tr>
                            {% endif %}
                            <tr class="intermediate"><td>Loans Sold</td><td>{{p.loansSold}}</td></tr>
                            <tr><td>Paid from Sold Loans</td><td>{{p.paidFromLoans}}</td></tr>
                            <tr><td>Paid from Borrowing</td><td>{{p.paidFromBorrowing}}</td></tr>
                            <tr class="total"><td>Total Paid</td><td>{{p.totalOwed}}</td></tr>

                        {% elif p.period_number == 3 %}
                            <tr><td>Customers Withdrew with Interest</td><td>{{p.withdrawals}}</td></tr>
                            {% if params.hedging %}
                                <tr><td>Bank {{p.depositor_number}} Withdrew with Interest</td><td>{{p.withdrawalByOtherBank}}</td></tr>
                            {% endif %}
                            <tr class="total"><td>Total Owed</td><td>{{p.totalOwed}}</td></tr>
                            {% if params.hedging %}
                                <tr class="intermediate">
                                    <td>Withdrawn from Bank {{p.depositee_number}} with Interest</td><td>{{p.bankPayoff}}</td></tr>
                            {% endif %}
                            <tr class="intermediate">
                                <td>Loan Payoff with Interest</td><td>{{p.loanPayoff}}</td></tr>
                            <tr><td>Paid from Cash</td><td>{{p.paidFromCash}}</td></tr>
                            <tr><td>Paid from Borrowing</td><td>{{p.paidFromBorrowing}}</td></tr>
                            <tr class="total"><td>Total Paid</td><td>{{p.totalOwed}}</td></tr>

                        {% endif %}

                    </table>

                    <table class="balance-sheet">
                        <thead>
                            <tr>
                                <th colspan="2">Assets</th>
                                <th class="divider"></th>
                                <th colspan="2">Liabilities</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cash</td><td class="num">{{p.cash}}</td>
                                <td class="divider"></td>
                                <td>Deposits</td><td class="num">{{p.deposits}}</td>
                            </tr>
                            {% if params.hedging %}
                                <tr>
                                    <td>On Deposit at Bank {{p.depositee_number}}</td>
                                    <td class="num">{{p.onDepositAtOtherBank}}</td>
                                    <td class="divider"></td>
                                    <td>Deposit from Bank {{p.depositor_number}}</td>
                                    <td class="num">{{p.depositFromOtherBank}}</td>
                                </tr>
                            {% endif %}
                            {% if p.period_number == 1 %}
                                <tr>
                                    <td>Loans</td><td class="num">{{p.loans}}</td>
                                    <td class="divider"></td>
                                    <td>Equity</td><td class="num">{{p.equity}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Loans</td><td class="num">{{p.loans}}</td>
                                    <td class="divider"></td>
                                    <td>Borrowings</td><td class="num">{{p.borrowings}}</td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td class="divider"></td>
                                    <td>Equity</td><td class="num">{{p.equity}}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    {% if p.period_number == 1 and state.period_number == 1 %}
                        <form  id="decision_form" method="post" data-ajax="false" action="{% url 'banking:submit_decision' experiment_id=experiment.id %}">
                            {% csrf_token %}

                            {% if params.hedging %}
                                <fieldset>
                                    {% if p.depositDecision >= 0 or state.ms_remaining <= 0 %}
                                        {# Deposit decision has been submitted or timer has expired: disable the slider and button #}
                                        {# <input type="range" name="depositDecision" value="0" min="0" max="100" disabled="disabled"/> #}
                                        <input type="submit" value="Deposit with Other Bank" disabled="disabled"/>
                                    {% else %}
                                        {# Deposit decision is requested #}
                                        <input type="range" name="depositDecision" value="0" min="0" max="{{p.cash}}"/>
                                        <input type="submit" value="Deposit with Other Bank" data-theme="e"/>
                                    {% endif %}
                                </fieldset>
                            {% endif %}

                            <fieldset>
                                {% if p.lendingDecision >= 0 or state.subperiod == 'deposit' or state.ms_remaining <= 0 %}
                                    {# Lending decision has been submitted, or timer has expired, or we are still in the deposit decision subperiod: #}
                                    {#   disable the slider and button #}
                                    {# <input type="range" name="lendingDecision" value="0" min="0" max="100" disabled="disabled"/> #}
                                    <input type="submit" value="Make Loans" disabled="disabled"/>
                                {% else %}
                                    {# Lending decision is requested #}
                                    <input type="range" name="lendingDecision" value="0" min="0" max="{{p.cash}}"/>
                                    <input type="submit" value="Make Loans" data-theme="e"/>
                                {% endif %}
                            </fieldset>

                        </form>
                    {% endif %}

                </div><!-- /period-container -->

            {% empty %}
                <h1>Please Wait</h1>
            {% endfor %} {# p in period_data #}

        </div><!-- /content -->

        <div data-role="footer">
                 {{request.user.email}} - <a href="{% url 'core:logout' %}">sign out</a> - <span class="timer"></span>
            </div>
        </div>

    </div><!-- /page -->

{% endblock %}
