{% extends "participant/base.html" %}

{% block title %}Test Experiment{% endblock %}

{% block page %}
<div class='info'>
    Welcome back, {{ request.user.participant }}.
</div>
<h3>{{experiment.namespace|title}} Experiments</h3>
<div class='notice'>
    {% for experiment_status, experiments in experiment_dict.items %}
    <h3> {{ experiment_status|title }} </h3>
    <ul id='experiments'>
        {% for experiment in experiments %}
        <li class='{{experiment_status|lower}}'> <a href='{{ experiment.participant_url }}'>{{ experiment.status_line }}</a></li>
        {% empty %}
        <li class='alert'> No {{ experiment_status }} experiments </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}

