{% extends 'banking/base.html' %}

{% block title %}Server Clock{% endblock %}

{% block extrahead %}
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    var gettime_url = "{% url 'banking:gettime' %}";
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/NTP.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        setInterval(updateTimer, 250);
    });

    function updateTimer() {
        
        // Get the current time, NTP-corrected (see NTP.js)
        var curTime = new Date();
        curTime = new Date(NTP.fixTime(curTime.getTime()));

        $('#clock').text(curTime.toTimeString());
    }
        
</script>
{% endblock %}

{% block body %}

<h1 id="clock">
</h1>

{% endblock %}
