body {
    font-family: sans-serif;
}

#page {
}

#period-buttons {
    text-align: center;
}

.ui-grid-b.justified .ui-block-a {
    text-align: left;
}
.ui-grid-b.justified .ui-block-b {
    text-align: center;
}
.ui-grid-b.justified .ui-block-c {
    text-align: right;
}

.ui-grid-a.justified .ui-block-a {
    text-align: left;
}
.ui-grid-a.justified .ui-block-b {
    text-align: right;
}

.past.period-container {
    color: #999;
}

td.num {
    text-align: right;
    white-space: nowrap;
}

table.period-info {
    margin-bottom: 1em;
}

table.period-info td {
    padding-right: 1em;
}

table.period-info td:last-child {
    text-align: right;
}

table.period-info tr.intermediate {
    font-style: italic;
}

table.period-info tr.intermediate td:first-child {
    padding-left: 1em;
}
table.period-info tr.intermediate td:last-child {
    padding-right: 2em;
}

table.balance-sheet {
    border-collapse: collapse;
    margin-bottom: 1em;
}

/* Dark lines on balance sheet */
.current.period-container table.balance-sheet th {
    text-align: left;
    border-bottom: 1px solid black;
}
.current.period-container table.balance-sheet .divider {
    border-left: 1px solid black;
}
.past.period-container table.balance-sheet th {
    text-align: left;
    border-bottom: 1px solid #999;
}
.past.period-container table.balance-sheet .divider {
    border-left: 1px solid #999;
}

/* Light lines on balance sheet */
table.balance-sheet td {
    border-top: 1px solid #ccc;
}

table.balance-sheet th:not(:last-child),
table.balance-sheet td:not(:last-child) {
    padding-right: 0.5em;
}

tr.total {
    font-weight: bold;
}

tr.total:not(:last-child) td {
    padding-bottom: 0.5em;
}

div.float-right {
    float: right;
    text-align: right;
}
